In [1]:
# Import required libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:


# Read the Excel file
df = pd.read_csv('D:\Any other\Revathy\Data 3.csv')

# 1. Find out how many males and females participated in the test.
gender_count = df['gender'].value_counts()
print(gender_count)

# 2. What do you think about the students' parental level of education?
parental_education_count = df['parental level of education'].value_counts()
print(parental_education_count)

# 3. Who scores the most on average for math, reading and writing based on Gender and Test preparation course
average_scores_gender = df.groupby('gender')[['math score', 'reading score', 'writing score']].mean()
print(average_scores_gender)

average_scores_prep_course = df.groupby('test preparation course')[['math score', 'reading score', 'writing score']].mean()
print(average_scores_prep_course)

# 4. What do you think about the scoring variation for math, reading and writing based on Gender and Test preparation course
std_scores_gender = df.groupby('gender')[['math score', 'reading score', 'writing score']].std()
print(std_scores_gender)

std_scores_prep_course = df.groupby('test preparation course')[['math score', 'reading score', 'writing score']].std()
print(std_scores_prep_course)

# 5. The management needs your help to give bonus points to the top 25% of students based on their math score
top_25_percentile = df[df['math score'] > df['math score'].quantile(0.75)]
print(top_25_percentile)

gender
female    518
male      482
Name: count, dtype: int64
parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64
        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058
                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944
        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225
                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667
     gender race/ethnicity parental level of education         lunch
430  female        group A                some college      standard  \
431  female        group B           bachelor's degree  free/reduced
432  female        group D           bachelor's degree      standard
433  female        group D                 high school      standard
434  female        group D           bachelor's degree  free/reduced
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
430               completed          78             87             91
431                    none          78             79             76
432                    none          78             82             79
433                    none          78             81             80
434                    none          78             90             93
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

[231 rows x 8 columns]